@tailwind base;
@tailwind components;
@tailwind utilities;

.outlined {
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
    1px 1px 0 white;
}

.input-focused:focus ~ .join-button {
  --tw-bg-opacity: 1;
  background-color: rgb(6 182 212 / var(--tw-bg-opacity));
  /* #06b6d4 */
  --tw-ring-color: rgb(6 182 212 / var(--tw-ring-opacity)) /* #06b6d4 */;
}
